@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  margin: 0;
  background: #111526;
  color: #fff;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#agent-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#agent-stats h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.agent-stats {
  flex: 1 1 300px;
  max-width: 400px;
  background-color: #2a314f;
  border-radius: 10px;
  padding: 15px;
  font-size: 0.9em;
  font-family: 'Nunito Sans', sans-serif;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agent-stat li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  width: 100%;
}

.agent-stat li> :first-child {
  font-weight: 600;
}

.agent-stat li p {
  margin: 1px;
}

.agent-stats h4 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 700;
}

header {
  background-color: #171c31;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-heading {
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 1000;
  flex-grow: 1;
  text-align: center;
  padding-right: 30px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 25px;
  margin: 0;
  text-decoration: none;
}

.line {
  height: 4px;
  background-color: #fff;
  margin: 3px 0;
  width: 100%;
  transition: all 0.3s ease;
}

.container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.chart-box {
  position: relative;
  background: #171c31;
  padding: 30px;
  border-radius: 16px;
}

.chart-box h3 {
  margin-top: 0;
  font-family: "Nunito Sans";
  position: relative;
  margin-bottom: 20px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

canvas {
  position: relative;
  max-height: 250px;
  width: 100%;
}